body {
  margin-top: 150px;
  margin-bottom: 0px;
 }

nav {
  background-color: $maroonColor !important;
  .navbar-header {
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
      background-color: white;
      border-radius: 100%;
      width: 4%;

    }
    .button {
      transition-duration: 0.4s;
    }
    button:hover, .navbar-brand:hover {
      opacity: 0.8;
    }

  }

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #163a1f;
}

.container:hover .overlay {
  opacity: .8;
}

img[src="github.png"] {
  padding-top: 15px;
  width:100%; 
  height:auto;
}

.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
  border: none;
  a {
    color: $maroonColor !important;
  }
}
