<h1 style="padding-top:30px;">Education</h1>

<div class="container">

<div class="row">
  <div class="column left">
    <img src="loyola-logo.png" class="w-100 shadow-1-strong rounded mb-4">
  </div>
  <div class="column right">
    <h2 id="school">Loyola University New Orleans</h2>
    <h2 id="school">Bachelor of Science, Computer Science Cyber Security</h2>
    <h4 id="school">Graduation: May 2022</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="column left">
    <h3>GPA: 3.9/4.0</h3>
  </div>
  <div class="column right">
    <ul class="list-group">
      <li class="list-group-item" id="orgs">National Society of Leadership and Success</li>
      <li class="list-group-item" id="orgs">Alpha Sigma Nu Honor Society</li>
      <li class="list-group-item" id="orgs">Omicron Delta Kappa Honor Society</li>
      <li class="list-group-item" id="orgs">Dean's List 2019, 2020, 2021</li>
  </div>
  </ul>
  </div>
</div>

<h2 style="text-align:center;"><i>relevant coursework</i></h2>

<div class="grid-container" style="width:70%; justify-content: center;">
  <div class="grid-item"><h3>Software Engineering</h3></div>
  <div class="grid-item"><h3>Internet Technologies</h3></div>
  <div class="grid-item"><h3>Data Structures</h3></div>
  <div class="grid-item"><h3>Digital Forensics</h3></div>

  <div class="grid-item"><h3>Languages and Paradigms</h3></div>
  <div class="grid-item"><h3>Machine Learning</h3></div>
  <div class="grid-item"><h3>Game as Art</h3></div>
  <div class="grid-item"><h3>Game Programming</h3></div>

  <div class="grid-item"><h3>Corporate Cybersecurity Strategy</h3></div>
  <div class="grid-item"><h3>Computer Organization</h3></div>
  <div class="grid-item"><h3>Object-Oriented Programming</h3></div>
  <div class="grid-item"><h3>Calculus I & II</h3></div>
</div>

<hr>

<h2 style="text-align:center;"><i>other coursework</i></h2>

<div class="grid-container" style="width:40%; justify-content: center;" id="other-courses">
  <div class="grid-item"><h5>Language, History, and Culture of France II & III</h5></div>
  <div class="grid-item"><h5>Language and the Human I & II</h5></div>
  <div class="grid-item"><h5>Intro to Comparative Governments</h5></div>
  <div class="grid-item"><h5>African American Women’s Poetry</h5></div>

  <div class="grid-item"><h5>Introduction to Latin American History</h5></div>
  <div class="grid-item"><h5>Medical Ethics</h5></div>
  <div class="grid-item"><h5>Principles of Microeconomics</h5></div>
  <div class="grid-item"><h5>Business Statistics</h5></div>

  <div class="grid-item"><h5>Social Problems</h5></div>
  <div class="grid-item"><h5>Heresies and Heretics</h5></div>
  <div class="grid-item"><h5>World Religions and Ecology</h5></div>
  <div class="grid-item"><h5>Philosophy of the Human Person</h5></div>
</div>

<hr>

<div class="container">

<div class="row">
  <div class="column left">
    <img src="tts-logo.png" class="w-100 shadow-1-strong rounded mb-4">
  </div>
  <div class="column right">
    <h2 id="school">Tech Talent South</h2>
    <h3 id="school">Java Code Immersion</h3>
    <h4 id="school">9/2020 to 11/2020</h4>
  </div>
</div>

<div class="row">
  <div class="column left">
  </div>
  <div class="column right">
    <ul class="list-group">
      <li class="list-group-item" id="orgs"><h4>Fundamentals of HTML, CSS, Bootstrap, SQL, Git</h4></li>
      <li class="list-group-item" id="orgs"><h4>Build and deploy Twitter-like application in Java using Heroku and Spring Boot</h4></li>
  </div>
  </ul>
  </div>
</div>

<hr>

<div class="container">

<div class="row">
  <div class="column left">
    <img src="lsmsa-logo.jpg" class="w-100 shadow-1-strong rounded mb-4">
  </div>
  <div class="column right">
    <h2 id="school">Louisiana School for Math, Science, and the Arts</h2>
    <ul class="list-group">
      <li class="list-group-item" id="orgs"><h3>High School Diploma, 2017</h3></li>
      <li class="list-group-item" id="orgs"><h4>Natchitoches, LA - GPA: 3.97/4.0</h4></li>
    </ul>
  </div>
</div>

</div>



</h4>

<h4>

</h4>
</div>