<h1>Education</h1>

<div class="container">

<div class="row">
  <div class="column left">
    <img src="loyola-logo.png" class="w-100 shadow-1-strong rounded mb-4">
  </div>
  <div class="column right">
    <h2 id="school">Loyola University New Orleans</h2>
    <h2 id="school">Bachelor of Science, Computer Science Cyber Security</h2>
    <h4 id="school">Graduation: May 2022</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="column left">
    <h3>GPA: 3.9/4.0</h3>
  </div>
  <div class="column right">
    <ul class="list-group">
    <li class="list-group-item" id="orgs">National Society of Leadership and Success</li>
    <li class="list-group-item" id="orgs">Alpha Sigma Nu Honor Society</li>
    <li class="list-group-item" id="orgs">Omicron Delta Kappa Honor Society</li>
    <li class="list-group-item" id="orgs">Dean's List 2019, 2020, 2021</li>
  </div>
</ul>
  </div>
</div>

<h2 style="text-align:center;"><i>relevant coursework</i></h2>

<div class="grid-container" style="width:70%; justify-content: center;">
  <div class="grid-item"><h3>Software Engineering</h3></div>
  <div class="grid-item"><h3>Internet Technologies</h3></div>
  <div class="grid-item"><h3>Data Structures</h3></div>
  <div class="grid-item"><h3>Digital Forensics</h3></div>

  <div class="grid-item"><h3>Languages and Paradigms</h3></div>
  <div class="grid-item"><h3>Machine Learning</h3></div>
  <div class="grid-item"><h3>Game as Art</h3></div>
  <div class="grid-item"><h3>Game Programming</h3></div>

  <div class="grid-item"><h3>Corporate Cybersecurity Strategy</h3></div>
  <div class="grid-item"><h3>Computer Organization</h3></div>
  <div class="grid-item"><h3>Object-Oriented Programming</h3></div>
  <div class="grid-item"><h3>Calculus I & II</h3></div>
</div>

<hr>


<h4>


Tech Talent South

Java Code Immersion 9/2020 to 11/2020
Fundamentals of HTML, CSS, Bootstrap, SQL, Git
Build and deploy Twitter-like application in Java using Heroku and Spring Boot

Louisiana School for Math, Science, and the Arts

High School Diploma (3.97/4.0), Natchitoches, LA
Graduation: May 2017
</h4>

<h4>
relevant courses

grouped acording to topic:

Java
Data Structures

Udemy 2020 Complete Ruby on Rails Bootcamp
Computer Organization
Corporate Cybersecurity Strategy
Data Structures
Digital Forensics
Game Programming
Internet Technologies
Languages and Paradigms
Learn Ruby Codecademy
Machine Learning
Object-Oriented Programming
Operating Systems
Software Engineering

In this class, the class worked as a team to build a voting machine. I worked in a backend, frontend, and management role at different points in the semester.

Elementary Functions and Calculus I
Calculus I
Calculus II
</h4>
</div>