<h1>Education</h1>

<div class="container">
<h4>
Loyola University New Orleans

Bachelor of Science, Computer Science Cyber Security (3.9/4.0)
Graduation: May 2022
Dean’s List 2019, 2020, 2021
Alpha Sigma Nu Honor Society
National Society of Leadership and Success

Tech Talent South

Java Code Immersion 9/2020 to 11/2020
Fundamentals of HTML, CSS, Bootstrap, SQL, Git
Build and deploy Twitter-like application in Java using Heroku and Spring Boot

Louisiana School for Math, Science, and the Arts

High School Diploma (3.97/4.0), Natchitoches, LA
Graduation: May 2017
</h4>

<h4>
relevant courses

grouped acording to topic:

Java
Data Structures

Udemy 2020 Complete Ruby on Rails Bootcamp
Computer Organization
Corporate Cybersecurity Strategy
Data Structures
Digital Forensics
Game Programming
Internet Technologies
Languages and Paradigms
Learn Ruby Codecademy
Machine Learning
Object-Oriented Programming
Operating Systems
Software Engineering

In this class, the class worked as a team to build a voting machine. I worked in a backend, frontend, and management role at different points in the semester.

Elementary Functions and Calculus I
Calculus I
Calculus II
</h4>
</div>