<%= stylesheet_link_tag 'gardening.css' %>

<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="squash.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />


    <img
      src="broccoli.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <div class="container">

    <img
      src="watermelon.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
    <div class="overlay">
      <div class="text">my first and only watermelon
       (yes, it was delicious)</div>
    </div>

    </div>

    <img
      src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->