<h1>Resume</h1>

<body>

<div class="container">

</div>
<h4>
Freelance Childcare Provider

October 2018 - April 2021
Assisted families and an elementary school for 15-25 hours per week while enrolled full-time in school

Online Store and Social Media Assistant

Three Divas Gift Shop - Slidell, LA
November 2019 - January 2020
Built a website through Shopify that increased sales for the business and expanded sales to nationwide

Recruiting Assistant

New York Life &NYLife Securities LLC - New Orleans, LA
May 2019 - August 2019
As assistant to partner, increased the number of interviews and hires to exceed quota

Account Manager

NOLA Events and Promotions - New Orleans, LA
April 2018 - September 2018
Excellence in Leadership Award
Expanded company by hiring and training salespeople through daily meetings and field training

Team Leader

Jumpstart - Chicago, IL
October 2017 - April 2018
Led a team of college students in implementing a bi-weekly lesson plan for low-income pre-schools while enrolled full-time in school
Coach team members and coordinate team administration
</h4>

<h5>
volunteering
Green Light New Orleans

April 2021 - Present
Preparing rain barrels to combat flooding in New Orleans

Anna’s Place

September 2018 - May 2019
Assisting in an after-school program for disadvantaged local youth through homework help, assisting in music lessons, and dinner preparation

Boys Hope Girls Hope

October 2018 - September 2019
Tutored at a home that provided housing and education funding for local children

Alpha Omicron Pi Fraternity, Property Manager

October 2017 - April 2018
Managed the assets of the fraternity used for meetings and events
</h5>
<body>