<footer class="footer">
  <nav>
    <h2 style="color:white; text-align:center;">kori kennedy reine</h2>  
    <h3 style="color:white; text-align:center;"><%= link_to "About / Contact", about_path %></h3>
  </nav>
</footer>