<div class="container" style="width:55%;">
  <div class="row">
    <div class="column left">
      <h3>Team Leader</h3>
    </div>
    <div class="column right">
      <ul class="list-group">
        <li class="list-group-item" id="position">Jumpstart</li>
        <li class="list-group-item" id="position">Chicago, IL</li>
        <li class="list-group-item" id="position">October 2017 - April 2018</li>
      </ul>
    </div>
  </div>
  <ul>
    <li><h4>Led a team of college students in implementing a bi-weekly lesson plan for low-income pre-schools while enrolled full-time in school</h4></li>
    <li><h4>Coach team members and coordinate team administration</h4></li>
  </ul>
</div>